
a#squish-usermanual           img { background-image : url(frog32.png); }
a#squish-kb                   img { background-image : url(frog32.png); }
a#froglogic-news              img { background-image : url(frog32.png); }
a#froglogic-blog              img { background-image : url(frog32.png); }
a#squish-editions-1      img { background-image : url(frog32.png); }
a#squish-editions-2         img { background-image : url(frog32.png); }
a#squish-editions-3     img { background-image : url(frog32.png); }
a#squish-editions-4        img { background-image : url(frog32.png); }
a#squish-editions-5         img { background-image : url(frog32.png); }
a#squish-editions-6         img { background-image : url(frog32.png); }
.content-link .small-link-label {
        font-family: Verdana, Arial, Helvetica;
        font-weight: bold;
        color: #00507C;
}

.content-link:hover .small-link-label {
        color: #69c;
        text-decoration : underline;
}
div ul.news-list {
	text-align: left;
}